.button{
    size: 12px;
    position: relative;
    width: 100px;
    height: 30px;
    font-size: 15px;
    background-color:#8389b4;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: width .5s;
    border-radius: .5s;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: auto;
}

.button *{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    transition: opacity .25s;

}
.icon{
    opacity: 0;

}

.button:focus{
width: 30px;
background-color: #44c08a;
border-radius: 50%;
}

.button:focus .text{
    opacity: 0;
}

.button:focus .icon{
    opacity: 1;
    transition-delay: .5s;
}
